<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] (%F:%L) %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/ulebank.log" />
		<param name="immediateFlush" value="true" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n" />
		</layout>
	</appender>

<!-- Al pasar a produccion, antes de compilar se deberá cambiar el nivel del logger. -->

	<logger name="ulebankLogger">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<!-- Comentado porque GAE Google AppEngine no permite el acceso al sistema 
			de archivos. -->
		<!-- <appender-ref ref="FILE" /> -->
	</logger>

	<!-- Root Logger -->
	<!-- <root> -->
	<!-- <priority value="DEBUG" /> -->
	<!-- <appender-ref ref="console" /> -->
	<!-- <appender-ref ref="file" /> -->
	<!-- </root> -->

</log4j:configuration>