<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Mapeado a modo de prueba, para que no aparezca /index...html si no 
		/incio -->
	<servlet>
		<servlet-name>inicio</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>FrontalController</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/app-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	

	
	<servlet-mapping>
		<servlet-name>FrontalController</servlet-name>
		<url-pattern>/*.htm</url-pattern>
		<url-pattern>/incrementarPrecio</url-pattern>
		<url-pattern>/inicio</url-pattern>
		<url-pattern>/usuarios</url-pattern>
		<url-pattern>/apr</url-pattern>
		<url-pattern>/leasing</url-pattern>
		<url-pattern>/offersconsulting</url-pattern>
		<url-pattern>/loans</url-pattern>
		<url-pattern>/discounts</url-pattern>
		<url-pattern>/reversemortgage</url-pattern>
		<url-pattern>/creditaccount</url-pattern>
		<url-pattern>/cookies</url-pattern>
		<url-pattern>/contact</url-pattern>
		<url-pattern>/frenchloan</url-pattern>
		<url-pattern>/italianloan</url-pattern>
		<url-pattern>/germanloan</url-pattern>
		<url-pattern>/americanloan</url-pattern>
		<url-pattern>/search</url-pattern>
		<url-pattern>/newquery</url-pattern>
		<url-pattern>/login</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/queryok</url-pattern>
		<url-pattern>/answerok</url-pattern>
		<url-pattern>/adminoffersconsulting</url-pattern>
		<url-pattern>/questions-list</url-pattern>
		<url-pattern>/newadminquery</url-pattern>
		<url-pattern>/querypage</url-pattern>
		<url-pattern>/adminquerypage</url-pattern>
		<url-pattern>/sitemap</url-pattern>
		<url-pattern>/tokensignin</url-pattern>
		<url-pattern>/e/*</url-pattern>
		<url-pattern>/alldocs/*</url-pattern>
		<url-pattern>/o/*</url-pattern>	
		<url-pattern>/a/*</url-pattern>	
	</servlet-mapping>

	<servlet>
		<servlet-name>HelloAppEngine</servlet-name>
		<servlet-class>es.unileon.ulebankoffice.web.HelloAppEngine</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloAppEngine</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>inicio</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

<!-- Solución para los caracteres UTF-8. Funciona :) -->

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

<!-- Manejor de errores HTTP
http://stackoverflow.com/questions/7066192/how-to-specify-the-default-error-page-in-web-xml  -->
<!-- 	<error-page> -->
<!-- 		<error-code>404</error-code> -->
<!-- 		<location>/e/404</location> -->
<!-- 	</error-page> -->
<!-- Actualmente google no permite customizar el error 404 para páginas que no estén mapeadas -->
</web-app>
